PORT=5000
TMDB_API_KEY=sua_chave_api_tmdb_aqui
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/streaming
JWT_SECRET=sua_chave_secreta_jwt
NODE_ENV=development
CLIENT_URL=http://localhost:3000
